* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.login-wrap {
  background: rgba(56, 157, 170, 0.82);;
}

.login-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.ms-login {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 140px;
  margin: -150px 0 0 -190px;
  padding: 40px;
  border-radius: 5px;
  background: #fff;
}

.login-btn {
  text-align: center;
}

.login-btn button {
  width: 100%;
  height: 36px;
  color:#FFFFFF;
  background-color:#00d1b2;
}
.login-btn button:hover {
  color:#FFFFFF;
  background-color:#00d1b2;
}

.ms-title {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -230px;
  text-align: center;
  font-size: 30px;
  color: #fff;
}

.header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  font-size: 22px;
  line-height: 70px;
  color: #fff;
  background-color:#00d1b2;
}

.header .logo {
  float: left;
  width: 250px;
  text-align: center;
}

.user-info {
  float: right;
  padding-right: 50px;
  font-size: 16px;
  color: #fff;
}

.user-info .el-dropdown-link {
  position: relative;
  display: inline-block;
  padding-left: 50px;
  color: #fff;
  cursor: pointer;
  vertical-align: middle;
}

.user-info .user-logo {
  position: absolute;
  left: 0;
  top: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.body-content {
  background: none repeat scroll 0 0 #fff;
  position: absolute;
  top: 70px;
  left: 250px;
  right: 0;
  bottom: 0;
  width: auto;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.divide {
  height: 1px;
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
  margin-top: 20px;
}
